.AddReviewForm{
    margin-top: 100px;
    margin-bottom: 100px;
}

.AddReviewForm-comp{
    padding-top: 15px;
}

.AddReviewForm textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-family:Arial, Helvetica, sans-serif;
}

.AddReviewForm-button{
    color: black;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 2px solid black;
    float: right;
}