.AllMeals-grid{
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.AllMeals-grid-element{
    padding: 20px;
}

.AllMeals-button{
    display: block;
    margin: auto;
    cursor: "pointer";
}

.AllMeals-search{
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 35%;
}

.AllMeals-search input[type="text"]{
    padding: .5rem .8rem .5rem .8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
}

.AllMeals-h1{
    text-align: center;
    padding: 20px;
}