.FavoriteMeals{
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(3, auto);
}

.FavoriteMeals-grid{
    padding: 20px;
}

.FavoriteMeals-button{
    display: block;
    margin: auto;
    cursor: "pointer";
    font-size: 25px;
    background: none;
    border: none;
}

.FavoriteMeals-button:hover{
    border: 1px solid black;
}

.FavoriteMeals-h1{
    text-align: center;
    padding: 20px;
}