.IngredientCard{
    margin: auto;
    text-align: center;
    background-color: #FEBE8C;
    width: 100%;
    padding: 10px 0 10px 0;
    cursor:pointer;
}

.IngredientCard-name{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    font-weight: bold;
}