.IngredientCard{
    margin: auto;
    text-align: center;
    border: 2px solid #FEBE8C;
    width: 100%;
    padding: 10px 0 10px 0;
    cursor:pointer;
}

.IngredientCard-name{
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #FEBE8C;
    font-weight: bold;
}

.IngredientCard-prep{
    border-top: 2px solid #FEBE8C;
}