.IngredientDetails-header{
    font-size: 40px;
    text-align: center;
}


.IngredientDetails-grid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.IngredientDetails-grid-elements{
    margin: 20px;
}

