.MealDetails-profile{
    display: grid;
    margin: auto;
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FEBE8C;
    border-radius: 20px;
}

.MealDetails-child{
    margin: auto;
    text-align: right;
}

.MealDetails-h1{
    text-align: center;
    padding: 20px;
}